* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #000;
  background: #fff;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1360px;
  margin: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 1px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.right-menu li.dropdown a:after {
  position: relative;
  float: right;
  content: "";
  margin-left: 10px;
  margin-top: 8px;
}

.menu-area {
  padding: 40px 40px 0 40px;
  background: #fff;
  text-align: left;
  border-top: 5px solid #164c82;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  top: -9999px;
  left: 0;
}

li.dropdown a:hover ul.menu-area {
  top: 100%;
}
